<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.blaster-mac-client</string>
	<key>ProgramArguments</key>
	<array>
		<string>INSTALL_DIR/.venv/bin/python</string>
		<string>-m</string>
		<string>blaster</string>
	</array>
	<key>WorkingDirectory</key>
	<string>INSTALL_DIR</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>LOG_DIR/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>LOG_DIR/stderr.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin</string>
		<key>PYTHONPATH</key>
		<string>INSTALL_DIR</string>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
		<key>BLASTER_LOG_LEVEL</key>
		<string>INFO</string>
		<key>BLASTER_LOG_DIR</key>
		<string>LOG_DIR</string>
	</dict>
</dict>
</plist>
